.vs/
*.sln.docstates
*.user
*.suo
*.opt
*.filters
*.opendata
*.VC.opendata
*.vcxproj.user
*.vcxproj.filters
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
build/
*.log
*.pdb
*.tmp
*.csproj.user
*.vcxproj.user
*.vcproj.user
*.rcproj.user

